.main-css {
    max-width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
}

.mainimg-wrap > img {
    position: absolute;
}

.mainimg-wrap {
}

.screen {
}
.screen:hover,
.screen-two:hover,
.screen-three:hover {
    filter: brightness(0.5);
}

.button-two {
    top: 21em;
    left: 23%;
    width: 15%;
    position: absolute;
}

.button-three {
    top: 6.5em;
    left: 39%;
    width: 19%;
    position: absolute;
}

.button {
    top: 5.7em;
    left: 14.5%;
    width: 15%;
    position: absolute;
}

.modal {
    display: flex;
    justify-content: center;
    display: none;
}

.modal-two {
    display: flex;
    justify-content: center;
    display: none;
}

.modal-three {
    display: flex;
    justify-content: center;
    display: none;
}

.modal-block {
    width: 50%;
    height: 30rem;
    border: 5px solid;
    border-radius: 23px;
    background-color: plum;
    position: absolute;
    top: 20%;
    overflow-y: auto;
    left: 25%;
}

.modal-wrap {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
}

.modal-exit {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border-radius: 24%;
}
.modal-exit:hover {
    color: #fff;
}

.modal-wrap > img {
    width: 49%;
}
